* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  display: block;
  background-color: thistle;
}

.header-top-bar {
  height: 30px;
  background-color: #00879e;
  border-bottom: 1px solid #aaa;
}

.header-top-bar li {
  display: inline;
  float: right;
  list-style-type: none;
  border-left: 1px solid #00768a;
}

.header-top-bar a:link , .header-top-bar a:visited {
  cursor: pointer;
  padding: 0 5px;
  transition: background 0.3s ease 0s;
  color: white;
}

.header-top-bar a:hover , .header-top-bar a:active {
  background-color: #016577;
}
